@import "reset.css" screen;

@font-face {
   font-family: OpenSansLight;
   src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
   font-family: OpenSansRegular;
   src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
   font-family: OpenSansItalic;
   src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
   font-family: OpenSansSemibold;
   src: url('../fonts/OpenSans-Semibold.ttf');
}

*{
   font-family: OpenSansRegular;
}

body{
   background: #ffffff;
}

a{
   color: inherit;
}

.head{
   background: #ffffff;
   border-bottom: 1px solid #e6e6e6;
   padding: 0 50px;
   height: 138px;
   width: 100%;
   z-index: 5;
   position: fixed;
   left: 0;
   box-sizing: border-box;
   top: 0;

   
}

.transforms{
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.head.scrolled{
   height: 55px;
   position: fixed;
   opacity: 1;
}


.top-menu{
   margin-left: -27px;
}

.head:hover{
   opacity: 1;
}

.table-head{
   width: 100%;
   table-layout: fixed;
}

.social{
   padding-top: 66px;
   font-family: OpenSansLight;
   font-size: 12px;
   color: #b3b3b3;
   line-height: 23px;
   white-space: nowrap;
}

.scrolled .social{
   padding-top: 22px;
}

.soc{
   display: inline-block;
   margin-right: 4px;
   opacity: 0.5;
}

.soc:hover{
   opacity: 1;
}

.phone-td{
   width: 50%;
   text-align: right;
   font-family: OpenSansRegular;
   color: #000000;
   vertical-align: top;
   font-size: 16px;
}

.ph-ab{
   position: absolute;
   margin-top: -24px;
   right: 40px;
   
}

.menu-td{
   width: 915px;
   text-align: center;
}

.social-td{
   width: 50%;
}

.sep{
   background: #e6e6e6;
   width: 1px;
   display: inline-block;
   margin: 0 25px 5px;
   height: 14px;
}

.one-menu{
   font-family: OpenSansLight;
   font-size: 16px;
   color: #b3b3b3;
   text-transform: uppercase;
   display: inline-block;
}

.adaptive .one-menu{
   color: #000000;
   font-size: 23px;
   margin: 0 8px;
}

.adaptive .phone{
   position: absolute;
   font-size: 25px;
   white-space: nowrap;
   right: 10px;
}

.adaptive .sep{
   display: none;
}

.one-menu:hover{
   color: #666666;
}

.one-menu a{
   text-decoration: none;
   cursor: pointer;
}

.one-menu.visited{
   color: #000000;
}


.center-logo{
   display: inline-block;
   background: url('../img/logo.jpg') no-repeat;
   width: 102px;
   height: 123px;
   cursor: pointer;
}

.scrolled .center-logo{
   background: url('../img/logo.jpg') no-repeat scroll 0 100%;
   height: 41px;
}

.submenu{
   display: block;
   height: 0;


   background: rgba(255, 255, 255, 0.86);
   line-height: 30px;
   box-sizing: border-box;
   width: 100%;
   position: absolute;
   padding-bottom: 0;
   opacity: 0;
   font-size: 12px;
   font-family: OpenSansRegular;
   color: #000000;
   left: 0;
   text-align: left;
   margin-top: 10px;
   overflow: hidden;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.submenu a{
   text-decoration: none;
   color: #666666;
}

.submenu a:hover{
   color: #000000;
}

.submenu a.active{
   color: #000000;
}

.one-menu.active .submenu{
   display: block;
   height: auto;
   padding-bottom: 20px;
   opacity: 1;
}

.slider{
   width: 100%;
   height: 100%;
   position: relative;
   padding: 100px 0 0 0;
   background-size: cover;
   top: 0;
   box-sizing: border-box;

}

.slider.inner{
   height: 600px;
}
/*
.slider.inner.not-paging{
   height: 100%;
}*/


.slider.inner .sl{
   background-size: contain;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.wind-to-basket{
   background: rgba(255,255,255,0.8);
   padding: 60px 120px;
   border: 1px solid #e6e6e6;
   position: fixed;
   bottom: 0;
   width: 400px;
   left: 50%;
   margin-left: -321px;
   color: #b3b3b3;
   font-size: 19px;
   font-family: OpenSansRegular;
   text-align: center;
   display: none;
}

.to-basket-box{
   position: absolute;
   right: 50px;
   top: 20px;
   color: #b3b3b3;
   font-family: OpenSansLight;
}

.to-basket-box a{
   text-decoration: dashed;
}

.to-basket-box a:hover{
   color: #000000;
}

.basket-table{
   width: 100%;
   margin-top: 50px;
}

.form-basket{
   margin: 50px 0;
}


.basket-table td{
   vertical-align: middle;
   text-align: center;
   font-family: OpenSansLight;
   color: #000000;
}

.basket-table td.itog {
   text-align: right;
   font-family: OpenSansSemibold;
}

.basket-table td.price-product {
   text-align: right;
}

.basket-table .head-basket td{
   font-family: OpenSansSemibold;
}

.basket-table .head-basket td.title-product {
   text-align: left;
}

.basket-table td a{
   color: #e6e6e6;
   text-decoration: none;
}

.basket-table td a:hover{
   color: #000000;
}

.basket-table td.title-product{
   text-align: left;
   color: #000000;
}


.wind-to-basket a{
   font-size: 15px;
   margin-top: 15px;
   text-transform: uppercase;
}

.slide{
   width: 100%;
   position: absolute;

   /*-webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s;*/ /* IE9+ */
   transition-duration: 1s;
   background-size: cover;
   background-position: 50% 50%;
}


.has-scale-tranform .slide{
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s;
   
   transform: scale(0.5, 0.5);
   -webkit-transform: scale(0.5, 0.5);
   -moz-transform: scale(0.5, 0.5);
   -o-transform: scale(0.5, 0.5);
   -ms-transform: scale(0.5, 0.5);
}

.has-scale-tranform .active .slide{
   transform: scale(1, 1);
   -webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);
}

.sl{
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: 50% 50%;
}

.not-paging .left-arr{
   opacity: 0;
}

.not-paging .right-arr{
   opacity: 0;
}

.not-paging .one-num{
   opacity: 0;
}

.not-paging .slide{
   background-size: auto;
   background-repeat: no-repeat;
}

.not-paging .sl{
   background-size: contain;
   background-repeat: no-repeat;
   margin-top: 80px;
}

.transform-t.slide{
   /*transform: rotateY(360deg);*/
}

.fl{
   display: none;
}

.numbers{
   position: absolute;
   background: rgba(255, 255, 255, 0.86);
   width: 100%;
   bottom: 0;
   text-align: center;
   padding-top: 8px;
   height: 48px;
   padding-bottom: 12px;
   box-sizing: border-box;
}

.not-numbers .numbers{
   display: none;
}

.numbers .way{
   top: 0 !important;
}

.slider.inner .numbers{
   text-align: right;
   padding-right: 50px;
   border-bottom: 1px solid #e6e6e6;
   border-top: 1px solid #e6e6e6;
}

.slider.inner-full .numbers{
   text-align: right;
   padding-right: 50px;


}


.scroll-to{
   background: url('../img/scroll.png') no-repeat;
   height: 23px;
   position: absolute;
   bottom: 65px;
   width: 46px;
   left: 50%;
   margin-left: -23px;
   z-index: 4;
}

.one-num{
   width: 21px;
   height: 16px;
   font-family: OpenSansRegular;
   font-size: 10px;
   line-height: 16px;
   margin: 0 4px;
   color: #b3b3b3;
   border-bottom: 1px solid #b3b3b3;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.one-num:hover{
   color: #666666;
   border-bottom: 1px solid #666666;
}

.one-num.active{
   color: #000000;
   border-bottom: 1px solid #000000;
}

.left-arr{
   display: inline-block;
   background: url('../img/mini-left-arr.png') no-repeat;
   width: 8px;
   height: 16px;
   margin-right: 22px;
   cursor: pointer;
   opacity: 0.5;
}

.right-arr{
   display: inline-block;
   background: url('../img/mini-right-arr.png') no-repeat;
   width: 8px;
   height: 16px;
   margin-left: 22px;
   cursor: pointer;
   opacity: 0.5;
}

.left-arr:hover{
   opacity: 1;
}

.right-arr:hover{
   opacity: 1;
}

.big-left-arr{
   position: absolute;
   background: url('../img/big-left-arr.png') no-repeat scroll 50px 50%;
   width: 128px;
   margin-left: 0;
   opacity: 0.5;
   cursor: pointer;
}

.big-left-arr:hover{
   opacity: 1;
}

.big-right-arr{
   position: absolute;
   background: url('../img/big-right-arr.png') no-repeat scroll 50px 50%;
   width: 128px;
   right: 0;
   opacity: 0.5;
   cursor: pointer;
}

.big-right-arr:hover{
   opacity: 1;
}

.big-left-arr2{
   position: absolute;
   background: url('../img/big-left-arr.png') no-repeat scroll 0 50%;
   width: 28px;
   margin-left: 50px;
   opacity: 0.5;
   cursor: pointer;
   height: 100%;
   margin-top: -50px;
}

.slider > .big-left-arr2{
   margin-top: -101px;
}

.big-left-arr2:hover{
   opacity: 1;
}

.big-right-arr2{
   position: absolute;
   background: url('../img/big-right-arr.png') no-repeat scroll 0 50%;
   width: 28px;
   right: 50px;
   opacity: 0.5;
   cursor: pointer;
   height: 100%;
   margin-top: -50px;
}

.slider > .big-right-arr2{
   margin-top: -101px;
}

.big-right-arr2:hover{
   opacity: 1;
}

.text-on-slide{
   position: absolute;
   top: 50%;
   text-align: center;
   width: 100%;
   margin-top: -23px;
   line-height: 45px;
   font-family: OpenSansLight;
   font-size: 38px;
   color: #ffffff;
}

.text-to-top .text-on-slide{
   top: 25%;
}

.text-to-top{
   margin-bottom: -60px;
}

.not-paging .text-on-slide{
   color: #000000;
   top: 60px;
   margin-top: -100px;
}

.text-on-slide.black{
   color: #000000;
}

.fix-w{

   max-width: 1100px;
   width: 100%;
   margin: 0 auto;
   padding: 0 0 60px;
}

.with-bg{
   background: #e6e6e6;
}

.fix-w > table{
   width: 100%;
   text-align: left;
}

.title-col{
   font-size: 38px;
   line-height: 45px;
   font-family: OpenSansLight;
   color: #000000;
   vertical-align: top;
   width: 400px;
}

.title-col.small{
   font-size: 30px;
   line-height: 38px;
}

h1{
   font-size: 38px;
   line-height: 45px;
   font-family: OpenSansLight;
   color: #000000;
   padding-top: 60px;

}

.h1-style{
   font-size: 38px;
   line-height: 45px;
   font-family: OpenSansLight;
   color: #000000;
   padding-top: 60px;
}

.title-blog{
   font-size: 38px;
   line-height: 45px;
   font-family: OpenSansLight;
   color: #000000;
   padding-top: 60px;
   position: relative;
}

.title-blog a{
   text-decoration: none;
}

.title-blog span{
   color: #b3b3b3;
}

.date{
   color: #666666;
   font-size: 14px;
   position: absolute;
   right: 0;
   bottom: 0;
   line-height: 24px;
}

.one-blog{
   width: 950px;
   margin: 0 auto;
   border-bottom: 1px solid #e6e6e6;
}

.one-blog p{
   margin-bottom: 35px;
}

.one-blog img{
   width: 100%;
   margin: 30px 0 30px 0;
}

.one-blog:last-child{
   border: none;
}

.text-col{
   font-size: 14px;
   line-height: 24px;
   font-family: OpenSansRegular;
   color: #000000;
   vertical-align: top;
}

p{
   font-size: 14px;
   line-height: 24px;
   font-family: OpenSansRegular;
   color: #000000;
}

.text-col a{
   font-family: OpenSansItalic;
}

.text-col a:hover{
   opacity: 0.7;
}

.photo-w{
   position: relative;
   overflow: hidden;
   height: 44vw;
   max-height: 580px;
}

.map{
   height: 580px;
}

.photo-w img{
   width: 100%;
   position: absolute;
   bottom: 0;
}

.photo-s{
   background-position: 50% 0;
   background-size: 100% auto;
   height: 784px;
   position: relative;
   background-repeat: no-repeat;
}

.photo-s.fix-wid{
   background-size: auto auto;
}

.photo-s.type2{
   height: 580px;
}

.white-bg{
   position: absolute;
   bottom: 0;
   background: rgba(255, 255, 255, 0.86);
   width: 100%;
}

li:before{
   content: "—";
   margin-right: 3px;
}

ul{
   margin-top: 30px;
}

.form{
   background: #e6e6e6;
   text-align: center;
   padding: 0 0 60px;
}

.form p{
   margin-top: 15px;
   margin-bottom: 30px;
}

.style-input{
   width: 260px;
   padding: 0 16px;
   outline: none;
   border: 1px solid #999999;
   line-height: 34px;
   height: 34px;
   text-align: left;
   font-family: OpenSansRegular;
   color: #b3b3b3;
   font-size: 16px;
   margin-right: 10px;
}

.button{
   display: inline-block;
   height: 36px;
   background: #999999;
   padding: 0 20px;
   cursor: pointer;
   color: #ffffff;
   text-transform: uppercase;
   line-height: 36px;
   font-family: OpenSansLight;
   font-size: 16px;
}

.one-product{
   /*position: absolute;
   z-index: 3;
   background: rgba(255,255,255,0.8);
   top: 101px;
   left: 50%;
   margin-left: -600px;
   padding: 0 50px;
   min-height: 745px;*/
}

.button:hover{
   background: #b3b3b3;
}

.wind .button{
   height: 36px;
   border: 1px solid #999999;
   background: #b3b3b3;
}

.wind .button:hover{
   background: #999999;
}

.wind h1{
   color: #ffffff;
}

.wind .h1-style{
   color: #ffffff;
}

.wind p{
   margin: 45px 0 55px;
   color: #ffffff;
}

p.light{
   font-size: 12px;
   color: #666666;
   margin-top: 40px;
}

.foot{
   height: 67px;
   padding: 0 50px;
   background: #b3b3b3;
   color: #ffffff;

   border-top: 1px solid #e6e6e6;
   text-align: right;
   font-family: OpenSansLight;
   font-size: 12px;
   line-height: 67px;
}

.go-to-me{
   float: left;
}
.wind{
   background: #b3b3b3;

   text-align: center;
   padding: 60px 0;
   color: #ffffff;

   position: fixed;
   z-index: 10;
   width: 100%;
   top: 300px;
   left: 0;

   display: none;
}

.content{
   padding: 138px 50px 0;
   position: relative;
}

.content .photo-w{
   margin: 0 -50px;
}

.in-page{
   padding: 0 50px;
   position: relative;
}

.content h1{
   text-align: center;

}

.gallery{
   position: relative;

   margin-top: 60px;
   margin-right: -20px;

}

.in-page .gallery{
   margin-bottom: 60px;
}

.one-r{
   width: 33%;
   height: 350px;
   box-sizing: border-box;
   padding: 0 20px 20px 0;
   display: inline-block;
   position: relative;
   float: left;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.tema .one-r{
   padding-bottom: 40px;
   margin-bottom: 30px;
}

.title-r{
   font-family: OpenSansRegular;
   font-size: 14px;
   line-height: 18px;
   margin-top: 8px;
   text-align: center;
}

.title-r a{
   text-decoration: none;
   font-family: OpenSansSemibold;
   text-transform: uppercase;
   display: inline-block;
   min-height: 37px;
}

.price{
   font-family: OpenSansSemibold;
   padding: 0 45px;
   display: inline-block;
   position: relative;
   background: #ffffff;
   z-index: 2;
}

.price > div{
   background: #ffffff;
   padding: 0 12px;
}

.price:before{
   content: " ";
   width: 100%;
   position: absolute;
   left: 0;
   height: 1px;
   background: #bcbcbc;
   margin-top: 9px;
   z-index: -1;
}

.price span{
   font-family: OpenSansRegular;
}

.price s{
   font-family: OpenSansRegular;
   color: #990000;
}

.clear{
   clear: both;
}

.f-bg{
   height: 248px;
   background-size: cover;
   cursor: pointer;
	margin: 0 auto;
	width: 75%;
   background-position: 50% 50%;
   
   -webkit-transition-duration: 1.5s;
   -moz-transition-duration: 1.5s;
   -o-transition-duration: 1.5s;
   -ms-transition-duration: 1.5s; /* IE9+ */
   transition-duration: 1.5s;
}

.one-r:hover .description{
   opacity: 1;
}

.description{
   background: rgba(0,0,0,0.6);
   line-height: 19px;
   font-family: OpenSansRegular;
   font-size: 12px;
   width: 100%;
   text-align: center;
   height: 100%;
   color: #ffffff;
   vertical-align: middle;
   opacity: 0;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.description span{
   font-size: 14px;
}

.description td{
   vertical-align: middle;
}


.way{
   position: relative;
   height: 50px;
   padding-left: 50px;
   line-height: 50px;
   font-family: OpenSansRegular;
   font-size: 12px;
   color: #b3b3b3;
   text-transform: uppercase;
   background: rgba(255,255,255,0.86);
   border-bottom: #e6e6e6 1px solid;
   position: fixed;
   width: 100%;
   box-sizing: border-box;
   top: 138px;
   z-index: 4;
}

.apadtive .way{

}

.content .way{
   margin: 0 -50px;
   padding-left: 100px;

}


.way.scrolled{
   top: 55px;
}

.clear-filter{
   color: rgba(63,141,220,1);
   font-size: 9px;
   font-family: Arial;
}

.way:hover{

}


.way a{
   text-decoration: none;

}

.way a:hover{
   color: #999999;
}

.way span{
   color: #000000;
}
.way.way-top{
   background: none;
   position: absolute;
   left: 50px;
   width: auto;
   height: 48px;
   padding-left: 0;
   line-height: 40px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   border-bottom: none;
}

.pre-photo{
   display: inline-block;
}

.photo-slide{

   display: inline-block;
}

.photo-slide .slide{
   background-size: contain;
   margin-top: 60px;
}

.w100{
   width: 100vw;
}

.slides{
   display: inline-block;
   width: auto;

   

   margin-top: 10px;
}

.sl-trans{
   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;
}

.description-project{
   width: 670px;
   padding: 0 55px;
   position: relative;
}



.photo-slide img{
   height: 100%;
}

.description-project img{
   height: auto;
}

.slides-over{
   position: absolute;
   overflow: hidden;
   width: 100%;

}

.slides td{
   padding-right: 10px;
}

.description-project p{
   color: #ffffff;
   font-size: 12px;
   line-height: 16px;
   margin-top: 50px;
}

h2{
   font-family: OpenSansLight;
   font-size: 24px;
   color: #ffffff;
   padding-top: 50px;
}

.bot147{
   position: absolute;
   width: 670px;
   bottom: 50px;
   height: 147px;
}

.bot147 > table{
   width: 100%;
}

.bot147 > table td{
   vertical-align: top;
   font-size: 12px;
   line-height: 15px;
   color: #ffffff;
   font-family: OpenSansLight;
}

b{
   font-family: OpenSansSemibold;
}

.bot147 > table td.w-logo{
   vertical-align: bottom;
}

.center-menu{
   text-align: center;
   padding-bottom: 40px;
}

.center-menu a{
   text-decoration: none;
   font-size: 38px;
   line-height: 45px;
   font-family: OpenSansLight;
   color: #000000;
   margin: 40px 0;
   display: block;
}

.center-menu a:hover{
   opacity: 0.6;
}

.to-center{
   text-align: center;
}

.usl-t{
   width: 100%;

}

.usl-t td{
   width: 33%;
   vertical-align: top;
}

.title-usl{
   font-family: OpenSansRegular;
   color: #000000;
   font-size: 22px;
   margin-bottom: 15px;
   padding: 0 20px 0 0;
}

.text-usl{
   font-family: OpenSansRegular;
   color: #000000;
   font-size: 14px;
   line-height: 24px;
   padding: 0 20px 0 0;
}

.text-usl a{
   font-family: OpenSansItalic;
}

.text-usl a:hover{
   opacity: 0.7;
}

.white-slider{
   position: absolute;
   background: rgba(255, 255, 255, 0.86);
   width: 100%;
   overflow: hidden;
   padding: 50px 0;
   z-index: 4;
}

.slides-person{
   table-layout: fixed;

   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;
}

.one-person{
   width: 100vw;
}

.person-content{
   width: 900px;
   margin: 0 auto;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

   /*transform: scale(0.5, 0.5);
   -webkit-transform: scale(0.5, 0.5);
   -moz-transform: scale(0.5, 0.5);
   -o-transform: scale(0.5, 0.5);
   -ms-transform: scale(0.5, 0.5);*/
}

.active .person-content{
   /*transform: scale(1, 1);
   -webkit-transform: scale(1, 1);
   -moz-transform: scale(1, 1);
   -o-transform: scale(1, 1);
   -ms-transform: scale(1, 1);*/
}

.person-photo{
   padding-right: 50px;
}

.person-content td{
   vertical-align: top;
}

.person-name{
   font-size: 24px;
   font-family: OpenSansLight;
   color: #000000;
   margin-bottom: 60px;
   margin-top: -4px;
}

.person-text{
   font-size: 14px;
   line-height: 24px;
   font-family: OpenSansRegular;
   color: #000000;
}

.gray{
   background: #e6e6e6;
   color: #808080;
   font-family: OpenSansRegular;
   font-size: 12px;
   line-height: 18px;
   text-align: center;
   padding: 20px 50px;
}

.map img{
   width: 100%;
}

p.center{
   text-align: center;
   margin-bottom: 60px;
   margin-top: 30px;
   color: #000000;
   font-family: OpenSansRegular;
   font-size: 14px;
   line-height: 25px;
}

p.center ~ p.center{
   margin-top: -30px;
}

p.center span{
   font-size: 16px;
}

p.center a{
   color: #808080;
}

p.center a:hover{
   color: #e6e6e6;
}

.news-img{
   width: 221px;
   height: 280px;
   position: relative;
   cursor: pointer;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.news-img:hover .news-desc{
   display: none;
}

.news-img:hover{
   /*transform: scale(1.08, 1.08);
   -webkit-transform: scale(1.08, 1.08);
   -moz-transform: scale(1.08, 1.08);
   -o-transform: scale(1.08, 1.08);
   -ms-transform: scale(1.08, 1.08);*/

}

.news-desc{
   position: absolute;
   width: 100%;
   padding: 16px 0;
   background: rgba(255,255,255,0.86);
   color: #000000;
   font-family: OpenSansLight;
   font-size: 14px;
   line-height: 18px;
   bottom: 0;
}

.news-desc > div{
   padding-left: 16px;
}

.news-t{

   color: #000000;
   font-family: OpenSansRegular;
   font-size: 12px;
   line-height: 16px;
   margin-bottom: 20px;
}

.news-title{
   color: #000000;
   font-family: OpenSansLight;
   font-size: 18px;
   margin-bottom: 20px;
}

.news-slides td{
   width: 221px;
   padding-right: 20px;
}

.news-slides{
   table-layout: fixed;

   -webkit-transition-duration: 1s;
   -moz-transition-duration: 1s;
   -o-transition-duration: 1s;
   -ms-transition-duration: 1s; /* IE9+ */
   transition-duration: 1s;
}

.news-slide{
   position: relative;
   margin: 40px auto 0;
   width: 900px;
   overflow: hidden;
}

.filter{
   position: absolute;
   right: 50px;
   top: 0;
}

.filter span{
   cursor: pointer;
}

.filter span:hover{
   color: rgba(63,141,220,1);
}

.filter-box{
   background: rgba(255,255,255,0.95);
   padding: 20px 40px 10px;
   position: absolute;
   right: 0;
   top: -1px;
   width: 300px;
   border: 1px solid #ebebeb;
   z-index: 20;
   line-height: 20px;
   display: none;
}

.one-group{
   margin-bottom: 20px;
}

.one-group a{
   margin-right: 10px;
}

.select-r{
   padding: 0 4px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   cursor: pointer;
}

.select-r.active{
   background: #b3b3b3;
}

.img-for-bg{
   display: none;
}